

@keyframes peak-a-boo {
    0%{
        transform:rotate(0) translateX(20px);
    }
    10%{
        transform:rotate(-5deg) translateX(15px)
    }
    20%{
        transform:rotate(-10deg) translateX(10px);
    }
    30%{
        transform:rotate(-15deg) translateX(5px);
    }
    40%{
        transform:rotate(-20deg) translateX(0);
    }
    50%{
        transform:rotate(0) translateX(0)
    }
    60%{
        transform:rotate(-5deg) translateX(-5px)
    }
    80%{
        transform:rotate(-10deg) translateX(-10px);
    }
    90%{
        transform:rotate(-15deg) translateX(-20px)
    }
    100%{
        transform:rotate(-20deg) translateX(-40px);
    }
}