/* display - utility
--------------------------------------------------------- */

.u-d-tb {
    display: table !important;
  }
  
  .u-d-tbc {
    display: table-cell !important;
  }
  
  .u-d-b {
    display: block !important;
  }
  
  .u-d-ib {
    display: inline-block !important;
  }
  
  .u-d-n{
    display: none !important;
    &-tablet{
      @include is-tablet{
        display: none !important;
      }
    }
    &-pc {
      @include is-pc {
        display: none !important;
      }
    }
    &-sp {
      @include is-sp {
        display: none !important;
      }
    }
  }
  
  .u-d-f {
    display: flex !important;
  }
  